* {
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif ;
    text-align: left;

}

input {
    width: 96%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#first, #last {
    width: 46%;
    align-items: center;
    justify-content: center;

}
#mal, #fem {
    width: 6%;
}

